.main{
    background-color: rgba(3, 3, 24, 0.329);
    margin: 15px 5%;       
    padding-bottom: 100px; 
}    
.menu{
    background-color: black;
    background-image: url(img/lucem-aspicio-fade.png);
    background-repeat: no-repeat;
    background-position: right;           
    border-radius: 10px;
    margin-top: 0%;
    padding: 5%;
}
.col-md-3{
    padding: 1%;
    padding-right: 0.4%;
    padding-top: 0%;
}
.col-md-9{
    padding: 1%;
    padding-left: 0.4%;
    padding-top: 0%;
}
.contenido{
    padding: 10px; 
    padding-top: 0%;           
}    
.prim-ing-header{
    background-color: rgb(255, 240, 0);
    padding: 5px;
    border: 5px solid aqua;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.tarjeta{
    background-color: rgba(0, 15, 200, 0.3);
    
    margin: 5px;
    min-height: 100%;
    height: max-content;
    padding: 5%;
    border-radius: 20px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;

    color: #D4D6EE;
}
.col-md-4{
    padding-right: 5px;
    padding-left: 5px;
}
.boton-llamativo{
    padding: 5%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 15, 200, 1);
    font-weight: bold;
    color: yellow;
    border: 5px solid black;
    margin: 3px;
}
.fit-img{
    max-width: 100%;
    margin: auto;
}
.menu-element{
    /*font-size: medium;
    font-weight: bold;
    line-height: normal;*/
    padding: 5px;       
    background-color: #007BFF;
    color: white;
    font-size: medium;
    font-weight: bold;
    line-height: normal;
    height: 100%; 
    white-space: normal;
    border-radius: 0.3rem;
    margin-bottom: 20px;
}
.titulos{
    width: min-content;
    text-align: end;
    color: rgb(255, 255, 255);
    text-decoration-line: underline;  
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0); 
    border-bottom-right-radius: 10px;
}


.menu-link{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-bottom: 3%;
}
.menu-link:hover{
    color: rgb(254, 235, 9);
    font-size: 110%;
}
.h1{
    padding-left: 1%;
}
.tray-row{
    margin-bottom: 30px;
}

/*Anti-bootstrap*/
a, a:hover{
    color: unset;
}
/*Fin Anto-bootstrap*/

/*Estilos para la topbar*/  
.topbar{
    height: 30px;
    width: 50%;
    /*background-color: black;*/
}
.topbar-container{
    /*max-width: min-content;*/
    background-color: black; 
}
.top-tarjeta{
    margin-top: 2px;
    padding-left: 3px;
    color: white;
    border-bottom: 3px solid rgb(56, 56, 56);
    border-left: 3px solid rgb(56, 56, 56);
    border-radius: 8px;
    
    font-size: small;
    /*height: 100%;
    width: max-content;*/
}
/*Fin Estilos para la topbar*/