.main{
    background-color: rgba(3, 3, 24, 0.329);
    margin: 15px 5%;       
    padding-bottom: 100px; 
}
/*Estilos para la topbar*/  
.topbar{
    height: 30px;
    width: 50%;
    /*background-color: black;*/
}
.topbar-container{
    /*max-width: min-content;*/
    background-color: black; 
}
.top-tarjeta{
    margin-top: 2px;
    padding-left: 3px;
    color: white;
    border-bottom: 3px solid rgb(56, 56, 56);
    border-left: 3px solid rgb(56, 56, 56);
    border-radius: 8px;
    
    font-size: small;
    /*height: 100%;
    width: max-content;*/
}
/*Fin Estilos para la topbar*/
.tarjeta{
    background-color: rgba(0, 15, 200, 0.3);    
    color: #D4D6EE;
    margin: 5px;
    padding: 5%;
    border-radius: 20px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;    
    min-height: max-content;
}
.tarjeta-expand{
    background-color: rgba(0, 15, 200, 0.3);    
    color: #D4D6EE;
    margin: 5px;
    margin-top: -50px;
    padding: 5%;
    border-radius: 20px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;    
    min-height: 100px; 
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    padding-bottom: 100px;
    padding-top: 100px;    
}
.prematricula{
    font-weight: bold;
    background-color: rgba(0, 15, 200, 0.3); 
    border-radius: 20px;    
    margin: 5px;
    padding: 17px;
}

.col-4{
    max-height: 89px;    
}
.lista03{
    font-weight: normal;
    width: 100%;
    height: min-content;
    overflow-y: scroll;
    background-color: white;
    padding-left: 20px;
}
hr{
    margin-top: 2px;
    margin-bottom: 2px;
}